:root {
    font-size: 16px;
    margin: 0; 
    font-family: 'Open Sans', helvetica, sans-serif;
}

#stats {
    margin: .5rem 1rem;
    width: 100px;
    > * {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}